table.bestandteile, .bestandteile th, .bestandteile td{
    border: 0.5px solid lightgray !important;
}
table.bestandteile{
    border-collapse: separate;
    border-left: 0;
    border-radius: 5px;
    border-spacing: 0px;
}

details.pretty-manufacturer {
    max-width: 390px;
}

@media only screen and (max-width: 600px) {
    table.bestandteile{
        width: 100% !important;
    }

    details.pretty-manufacturer{
        width: 2em;
    }

    div.pretty-countries{
        width: 2em;
    }
}
