[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
schedule = "*"
django = ">=3"
djangocms-cascade = ">=1.3"
djangocms-text-ckeditor = ">=3.9.1"
django-allauth = "*"
django-angular = ">=2.3"
django-filer = "*"
django-ipware = "*"
django-sass-processor = "*"
django-select2 = "*"
django-filter = "*"
django-parler = "*"
django-parler-rest = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-polymorphic = ">=2.1"
django-admin-sortable2 = "*"
django-fsm = "*"
django-fsm-admin = "*"
django-phonenumber-field = "*"
django-post_office = "*"
django-redis = "*"
django-redis-sessions = "*"
phonenumbers = "*"
djangocms-bootstrap = "*"
libsass = "*"
django-shop = ">=1.2"
psycopg2-binary = "*"
geopy = "*"
django-countries = "*"
django-elasticsearch-dsl = "*"
elasticsearch-dsl = ">=7"
djangoshop-sendcloud = "*"
python-dotenv = "*"

[dev-packages]
tox = "*"
pytest = "*"
pytest-django = "*"
beautifulsoup4 = "*"
lxml = "*"
factory-boy = "*"
pytest-factoryboy = "*"
pylint = "*"
django-extensions = "*"
werkzeug = "*"

[requires]
python_version = "3.8.6"

[pipenv]
allow_prereleases = true
