{% load static cms_tags sekizai_tags djng_tags i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" ng-app="myShop"> <!--default and fallback german...-->
<head>
	<title>{% block title %}Weltladen Baden{% endblock %}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="robots" content="{% block robots %}{{ ROBOTS_META_TAGS }}{% endblock %}" />
	<meta name="description" content="{% block meta-description %}{% endblock %}" />
	<link rel="shortcut icon" href="{% static 'weltladen/favicon.ico' %}" />
	{% block head %}{% endblock head %}
	{% render_block "css" %}
</head>

{% addtoblock "js" %} 
<script src="https://cdn.jsdelivr.net/gh/manucaralmo/GlowCookies@3.1.1/src/glowCookies.min.js"></script>
<script>
    glowCookies.start('{{ LANGUAGE_CODE }}', { 
        style: 1,
        analytics: '{{ GOOGLE_ANALYTICS }}', 
        facebookPixel: '{{ FACEBOOK_PIXEL }}',
        policyLink: 'https://weltladen-baden.at/cookiepolicy'
    });
</script> {% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'node_modules/angular/angular.min.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'node_modules/angular-sanitize/angular-sanitize.min.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'node_modules/angular-i18n/' %}{% djng_locale_script 'de' %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'node_modules/angular-animate/angular-animate.min.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "css" %}<link href="{% static 'weltladen/css/weltladen_product_gallery.css' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
{% addtoblock "css" %}<link href="{% static 'weltladen/css/weltladen_main.css' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}

<body>
	{% cms_toolbar %}
	<header>
	{% block header %}{% endblock %}
	</header>

	{% block toast-messages %}{% include "shop/messages.html" %}{% endblock %}

	<main>
	{% block breadcrumb %}{% endblock %}

	{% block main-content %}
		<div class="container">
			<div class="row shop-starter-template">
				<div class="col">
					<h1>Base Template</h1>
					<p class="lead">This document does not contain any content yet.</p>
				</div>
			</div>
		</div>
	{% endblock main-content %}
	</main>

	<footer class="footer">
	{% block footer %}{% endblock footer %}
	</footer>

	{% render_block "js" %}
	<script type="text/javascript">
	angular.module('myShop', ['ngAnimate', 'ngSanitize', 'ui.bootstrap',  {% with_data "ng-requires" as ng_requires %}
		{% for module in ng_requires %}'{{ module }}'{% if not forloop.last %}, {% endif %}{% endfor %}{% end_with_data %}
	]).config(['$httpProvider', '$locationProvider', '$sanitizeProvider', function($httpProvider, $locationProvider, $sanitizeProvider) {
		$httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}';
		$httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
		$locationProvider.html5Mode({
			enabled: true,
			requireBase: false,
			rewriteLinks: false
		});
		$sanitizeProvider.addValidAttrs(['srcset']);
	}]){% with_data "ng-config" as configs %}
		{% for config in configs %}.config({{ config }}){% endfor %};
	{% end_with_data %}
	</script>
	{% block custom-js %} {% endblock custom-js %}
</body>

</html>
