{% extends "shop/email/base.html" %}
{% load post_office %}

{% block email-logo %}
<img src="{% inline_image 'weltladen/weltladen.png' %}" width="200" style="margin: 20px auto; display: block;" />
{% endblock %}

{% block email-foot %}
<div>
    <p>
        Kontakt:<br/>
        Weltladen Baden<br/>
        Hauptplatz 9-12<br/>
        2500 Baden<br/>
        Tel.: +43 (0)2252 45236<br/>
    </p>
    <p>
        Bankdetails<br/>
        Volksbank Wien AG<br/>
        2500 Hauptplatz 9-13<br/>
        Weltladen Baden<br/>
        AT90 4300 0364 0778 0000<br/>
        VB0EATWW<br/>
    </p>
<div>
{% endblock %}