{% extends "weltladen/email/base.html" %}
{% load i18n post_office %}

{% block email-title %}Passwort zurücksetzen{% endblock %}

{% block email-body %}
<p>
    Es wurde eine Anfrage zum Zurücksetzen Ihres Passworts gestellt.
    Bitte klicken Sie auf den folgenden Link, um ein neues Passwort auszuwählen:
</p>
<p>
    <a href="{{ protocol }}://{{ domain }}{{ password_reset_confirm_url }}{{ uid }}/{{ token }}">Jetzt zurücksetzen</a>
</p>
<p>
    Sollte der Link nicht funktionieren, kopieren Sie den Link und fügen Sie ihn in die Adresszeile Ihres Browsers ein.<br/>
    {{ protocol }}://{{ domain }}{{ password_reset_confirm_url }}{{ uid }}/{{ token }} <br/>
    Wenn Sie keine Änderungsanfrage gestellt haben, können Sie diese Nachricht ignorieren.
</p>
<p>Mit freundlichen Grüßen<br/> Ihr Weltladen Baden</p>
{% endblock email-body %}

{% block email-logo %}
<img src="{% inline_image 'weltladen/weltladen.png' %}" width="200" style="margin: 20px auto; display: block;" />
{% endblock %}
