{% extends "shop/email/base.html" %}
{% load i18n post_office %}

{% block email-title %}Bitte bestätigen Sie Ihre Registrierung beim Weltladen Baden{% endblock %}

{% block email-body %}
<p>Sehr geehrte*r {{user.salutation}} {{user.last_name}},</p>

<p>Vielen Dank für Ihre Anmeldung auf unserem Onlineshop.</p>

<p>Hinweis: Falls es sich bei dieser Anmeldung um ein Versehen handelt oder die Registrierung nicht von Ihnen vorgenommen wurde, können Sie diese Nachricht ignorieren. 
Sie werden keine weiteren E-Mails von uns erhalten.
</p>
<p>
Nur noch ein Schritt und dann kann es losgehen!<br/>
Bitte bestätigen Sie Ihre Registrierung mit einem Klick auf folgenden Link: <a href="{{absolute_base_uri}}/activation/{{activation_key}}">Activieren Sie Ihren User</a>
</p>
<p>Sollten Sie den Link nicht anklicken können, kopieren Sie diesen bitte in Ihr Browserfenster. {{absolute_base_uri}}/activation/{{activation_key}}</p>
<p>Nach der Aktivierung können Sie mit Ihrer {{ email }} {% if preset_password %} und mit dem Passwort {{ password }} {% endif %} bei uns einloggen {{ absolute_base_uri }}.</p>
<p>Mit freundlichen Grüßen,<br/>Ihr Weltladen Baden</p>
{% endblock email-body %}{% load post_office %}

{% block email-logo %}
<img src="{% inline_image 'weltladen/weltladen.png' %}" width="200" style="margin: 20px auto; display: block;" />
{% endblock %}
