{% load i18n cms_tags %}
<script type="text/ng-template" id="modal-image-view.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{ product.product_name }}</h3>
    </div>
    <div class="modal-body weltladen-modal" id="modal-body">
        <img width="{{ img.width }}" height="{{ img.height }}" alt="{{ product.product_name }}" {% verbatim %} ng-src="{{ $ctrl.imgUrl }}" {% endverbatim %} alt="{{ product.product_name }}" />
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.close()"> {% trans "Close" %} </button>
    </div>
</script>