{% extends "weltladen/catalog/product-detail.html" %}
{% load static i18n sekizai_tags cms_tags thumbnail djng_tags %}

{% block main-content %}
{% addtoblock "css" %}<link href="{% static 'weltladen/css/ingredients.css' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
{% addtoblock "css" %}<link href="{% static 'weltladen/css/modal.css' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}

{% include "shop/catalog/bsp-scrollpanel.tmpl.html" %}
{% include "weltladen/catalog/modal-image-view.html"%}
{% thumbnail product.quality_labels.first.logo 124x200 as qualitythumb %}
<div class="container">
	<div class="row">
		<div class="col col-md-10 offset-sm-1" style="margin-bottom:1em;">
			<h1>{% render_model product "product_name" %}</h1>
		</div>
		<div class="col col-md-4 offset-sm-1">
			<bsp-scrollpanel class="shop-product-detail">
				<ul>
					{% for img in product.images.all %}
						{% thumbnail img 250x250 upscale as thumb %}
						<li>
						<div class="modal-view" ng-controller="ModalViewImageController as $ctrl">
							<div ng-click="$ctrl.open('lg', '{{img.url}}')">
								<img width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ product.product_name }}" src="{{ thumb.url }}" alt="{{ product.product_name }}" />
							</div>
						</div>
						</li>
					{% endfor %}				
				</ul>
			</bsp-scrollpanel>
		</div>
		<div class="col col-md-6">
			<!-- include "Add to Cart" dialog box -->
			{% include "weltladen/catalog/weltladenproduct-add2cart.html" with card_css_classes="mb-1" %}
		</div>
		<div class="col col-md-10 offset-md-1">
			<p>{{ product.short_description|safe }}</p>

			<div class="quality-label" style="margin-top: 3em; margin-bottom:2em;">
			{% if product.quality_labels.all %}
				{% for label in product.ordered_quality_labels %}
					<img height="{{ qualitythumb.height }}" src="{{ label.logo.url }}" alt="{{ label.name }}" />
				{% endfor %}
			{% endif %}
			</div>

			<details style="padding:1em;">
				<summary style="font-size: 26px; text-decoration:underline;">{% trans "Details" %}</summary>
				<p>{{ product.description|safe }}</p>
			</details>
			
			{% if product.ingredients %}
			<details style="padding:1em;">
				<summary style="font-size: 26px; text-decoration:underline;">{% trans "Ingredients" %}</summary>
				<p>{{ product.ingredients|safe }}</p>
			</details>
			{% endif %}

			<ul class="list-group mb-3">
				<li class="list-group-item d-flex">
					<div class="w-50">{% trans "Supplier" %}:</div>
					<div class="pretty-supplier">
						<strong>{{ product.supplier }}</strong>
					</div>
				</li>
				{% if product.origin_countries %}
				<li class="list-group-item d-flex">
					<div class="w-50">{% trans "Country of Origin" %}:</div>
					<div class="pretty-countries">
						<strong> {% for country in product.origin_countries %}
							{{ country.name }}{% if not forloop.last %},{% endif %}
						{% endfor %} </strong>
					</div>
				</li>
				{% endif %}
				{% if product.manufacturer%}
				<li class="list-group-item d-flex">
					<div class="w-50">{% trans "Manufacturer" %}:</div>
					{% if not product.additional_manufacturers.all %}
					<strong>{{ product.manufacturer }}</strong>
					{% else %}
					<details class="pretty-manufacturer">
						<summary><strong>{{ product.manufacturer }}</strong></summary>
							{% for manufacturer in product.additional_manufacturers.all %}
								{{ manufacturer }}{% if not forloop.last %},{% endif %}
							{% endfor %}
					</details>	
					{% endif %}
				</li>
				{% endif %}
				{% if product.vegan %}
				<li class="list-group-item d-flex">
					<div class="w-50">{% trans "Vegan" %}:</div>
					<strong style='color: green;'> {% trans "Yes" %} <i class="fontaws-leaf"></i></strong>
				</li>
				{% endif %}
				{% if product.lactose_free %}
				<li class="list-group-item d-flex">
					<div class="w-50">{% trans "Lactose free" %}:</div>
					<strong> {% trans "Yes" %}</strong>
				</li>
				{% endif %}
				{% if product.gluten_free %}
				<li class="list-group-item d-flex">
					<div class="w-50">{% trans "Gluten Free" %}:</div>
					<strong> {% trans "Yes" %}</strong>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
{% addtoblock "js" %}<script src="{% static 'weltladen/js/modal-view-controller.js' %}" type="text/javascript" ></script>{% endaddtoblock %}
{% add_data "ng-requires" "weltladen.image.modal" %}
{% endblock main-content %}
