{% extends "shop/catalog/product-add2cart.html" %}
{% load i18n cms_tags %}

{% block add-product-to-cart-body %}
	<div class="card-body pb-0">
		<div class="d-flex justify-content-between">
		{% block available-quantity-in-stock %}{% endblock %}
		{% block change-purchasing-quantity %}
			<div class="d-flex flex-column w-25">
				<label for="quantity">{% trans "Quantity" %}</label>
				<div class="form-group">
					<input class="form-control" name="quantity" type="number" min="1" ng-model="context.quantity" ng-model-options="{{ ADD2CART_NG_MODEL_OPTIONS }}" ng-change="updateContext()" />
				</div>
			</div>
		{% endblock %}
		{% block product-unit-price %}
			<div style="padding-left:1rem;" class="d-flex flex-column">
				<span class="label">{% trans "Unit Price" %}</span>
				<div class="lead mt-1" ng-cloak>
				{% verbatim %}{{ context.unit_price }}{% endverbatim %}
				</div>
			</div>
		{% endblock %}
		{% block purchase-item-subtotal %}
			<div style="padding-left:0.5rem" class="d-flex flex-column">
				<span class="label">{% trans "Subtotal" %}</span>
				<div class="lead mt-1 font-weight-bold" ng-cloak>
				{% verbatim %}{{ context.subtotal }}<sup>*</sup>{% endverbatim %}
				</div>
			</div>
		{% endblock %}
		</div>
		<div class="d-flex justify-content-between">
		{% block limited-availability %}{% endblock %}
		{% block unmentioned-costs %}
			<div class="flex-grow-1 text-muted text-right mb-3">
				<small><sup>*</sup>&nbsp;{% trans "incl. VAT" %}</small>
			</div>
		{% endblock %}
		</div>
	</div>
	{% endblock add-product-to-cart-body %}

	{% block add-product-to-cart-footer %}
	<div class="card-footer bg-white">
		<div class="d-flex flex-column flex-lg-row justify-content-between">
			<button class="btn btn-secondary m-1" ng-disabled="context.is_in_cart" ng-click="do(addToCart('{% url "shop:watch-list" %}'))">
				{% trans "Watch product" context "catalog" %}
				<i class="fa" ng-class="context.is_in_cart ? 'fa-heart' : 'fa-heart-o'"></i>
			</button>
		{% url "shop:cart-list" as cart_endpoint %}{% trans "The product has been successfully placed in the shopping cart:" as modal_title %}
			<button class="btn btn-primary m-1" ng-disabled="!context.availability.quantity" ng-click="do(addToCart('{{ cart_endpoint }}')).then(emit('shop.cart.change'))">
				{% trans "Add to cart" context "catalog" %}
				<i class="fa fa-cart-arrow-down"></i>
			</button>
		</div>
		{% if request.session.is_empty %}
		<small class="text-muted m-1">{% block cookie-disclaimer %}
			{% blocktrans context "catalog" %}By adding a product to the cart you are giving consent to cookies being used.{% endblocktrans %}
		{% endblock %}</small>
		{% endif %}
	</div>
	{% endblock add-product-to-cart-footer %}