{% extends "weltladen/pages/default.html" %}
{% load cms_tags sekizai_tags sass_tags static i18n thumbnail  %}

{% block title %}{{ product.product_name }}{% endblock %}

{% block breadcrumb %}{% with extra_ance=product.product_name %}
	{% include "shop/breadcrumb/default.html" %}
{% endwith %}{% endblock %}

{% block main-content %}

{% addtoblock "css" %}<link href="{% sass_src 'shop/css/bsp-scrollpanel.scss' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'node_modules/angular-bootstrap-plus/src/scrollpanel/scrollpanel.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% add_data "ng-requires" "bs-plus.scrollpanel" %}

{% thumbnail product.images.first 250x250 crop as thumb %}
<div class="container">
	<div class="row">
		<div class="col col-md-10 offset-md-1">
			<h1>{% render_model product "product_name" %}</h1>
			<bsp-scrollpanel class="shop-product-detail">
				<ul>
					{% for img in product.images.all %}
						<li><img width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ product.product_name }}" src="{{ img.url }}" alt="{{ product.product_name }}" /></li>
					{% endfor %}
				</ul>
			</bsp-scrollpanel>
		</div>
		<div class="col col-md-10 offset-md-1">
			<h4>{% trans "Details" %}</h4>
			<p>{{ product.description|safe }} </p>
			<ul class="list-group mb-3">
				<li class="list-group-item d-flex">
					<div class="w-50">{% trans "Herkunfsland" %}:</div>
					<strong>Afrika</strong>
				</li>
				<li class="list-group-item d-flex">
					<div class="w-50">{% trans "Manufacturer" %}:</div>
					<strong>{{ product.manufacturer }}</strong>
				</li>
			</ul>
			<!-- include "Add to Cart" dialog box -->
			{% include "shop/catalog/product-add2cart.html" with card_css_classes="mb-3" %}
		</div>
	</div>
</div>
{% endblock main-content %}
